body {
  background-image: url("https://cdn.dribbble.com/users/478776/screenshots/14311943/media/7114b375759d6dc8485bf6a1eb0d7957.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}
#customBtn {
    display: inline-block;
    background: white;
    color: #444;
    width: 190px;
    border-radius: 5px;
    border: thin solid #888;
    box-shadow: 1px 1px 1px grey;
    white-space: nowrap;
}
 #customBtn:hover {
    cursor: pointer;
}
 span.label {
    font-family: serif;
    font-weight: normal;
}
span.icon {
    background: url('http://pluspng.com/img-png/google-logo-png-open-2000.png') transparent 5px 50% no-repeat;
    display: inline-block;
    vertical-align: middle;
    width: 42px;
    height: 42px;
}
span.buttonText {
    display: inline-block;
    vertical-align: middle;
    padding-left: 42px;
    padding-right: 42px;
    font-size: 14px;
    font-weight: bold;
    /* Use the Roboto font that is loaded in the <head> */
    font-family: 'Roboto', sans-serif;
}
.card {
    padding: 0 !important;
    border-radius: 10px !important;
    box-shadow: 2px 2px 10px gray;
    margin: 1rem;
    position: relative;
}
.btn-primary {
  width: 100% !important;
    font-weight: bold;
    cursor: pointer;
    font-weight: bold;
}
.bg-video {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: -1;
  opacity: .6;
}

.bg-video-content {
  height: 100%;
  width: 100%;
  object-fit: cover;
}